<div class="album py-5 bg-body-tertiary">
  <h3 style="font-size: 4em; text-align: center; padding: 30px">
    Most often visited!
  </h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-ben-mack-5707610.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Australia:</b> Towering waterfalls, bubble-gum pink lakes and
              the Great Barrier Reef are just some of it's famous natural
              landmarks waiting to be explored.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-frank-zienert-110873-342113.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Paris:</b> A city with unbelievable food and culture, plus
              stunning views everywhere you turn. With 18 arrondissements, it’s
              a lot to see in one trip, but each neighbourhood has a personality
              all its own.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-julius-silver-240301-753339.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Russia:</b> From the bustling cities of Moscow and St.
              Petersburg to the serene beauty of Lake Baikal and the
              Trans-Siberian Railway, Russia has something for everyone.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-julius-silver-240301-753639.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Rome:</b> She never hides her years, but still wears them well:
              after all, Rome is the Eternal City
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                .
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-pixabay-161815.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Greece:</b> Greece is the stuff of vacation dreams with more
              than 200 islands to find whatever you’re looking for. Start in the
              hub of Athens, where you’ll find treasures from the Acropolis to
              the Parthenon.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-pixabay-259447.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Spain:</b> From sun-drenched archipelagos and bustling urban
              cities to snowcapped mountains and semi-arid deserts, Spain
              epitomizes geographical diversity.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-pixabay-262786.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>Egypt:</b> An enigmatic treasure trove of almost unimaginable
              archaeological and cultural riches, it's hard not to think of
              Egypt without imagining the Sphinx, the pyramids at Giza, Luxor,
              the Valley of the Kings and the Nile.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="../assets/images/pexels-souvenirpixels-417074.jpg"
            class="gallery"
          />
          <div class="card-body">
            <p class="card-text">
              <b>India:</b> The various fairs and festivals that tourists can
              visit in India are the Pushkar fair (Rajasthan), Taj Mahotsav
              (Uttar Pradesh), and Suraj Kund mela (Haryana).
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../assets/images/pexels-tian-2499271.jpg" class="gallery" />
          <div class="card-body">
            <p class="card-text">
              <b>Africa:</b> The African continent is endowed with an immense
              diversified cultural, natural and gastronomic heritage. However
              Africa is still much unknown in the mind of travelers and much
              progress still need to be made to promote positive storytelling
              aiming at attracting tourists around the world.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Edit
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
